doctype html
html
	head
		title wiz test
		script(type='module').
			import {
				d, json, array2obj, randStr, hasObjKey, now,
				validation, calendar, web
			} from '/js/wiz/index.min.js'
			// index.js
			d(json({ hoge: 'HOGE' }))
			// array.js
			d(array2obj([ 'a', 'b' ]))
			// string.js
			d(randStr())
			// object/js
			d(hasObjKey({ foo: 'FOO', hoge: { fuga: { foo: { bar: true } } } }, 'hoge.fuga.foo.bar'))
			// date.js
			d(now())
			d(validation.equal(1, 1))
			d(calendar.isPublicHoliday('2026-05-03'))
			d(web.escapeHtml('hoge<br>hoge'))
	body
		p LOADED...
